<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name,:label=>t('activerecord.attributes.user.name'), :required =>true, :autofocus => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :password,:label=>t('activerecord.attributes.user.password'), :autocomplete => "off", :hint => t('simple_form.error_notification.hints.defaults.update_password'), :required => false %>
    <%= f.input :password_confirmation,:label=>t('activerecord.attributes.user.password_confirmation'), :required => false %>
    <%= f.input :current_password,:label=>t('activerecord.attributes.user.current_password'), :hint => t('simple_form.error_notification.hints.defaults.current_passord'), :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('actions.update') %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to t('actions.back'), :back %>
